body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #0a9396;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav a {
    color: #f4f4f4;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: #94d2bd;
    text-decoration: underline;
}

div {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

img {
    display: block;
    margin: 0 auto 15px;
    border-radius: 8px;
    max-width: 100%;
}

h2 {
    color: #005f73;
    font-family: 'Georgia', serif;
    text-align: center;
}

footer {
    background-color: #222;
    color: #fff; 
    text-align: center;
    padding: 10px 0;
}
 
#top {
    display: none;
}

body {
    background-color: #f0f0f0; /* Light grey background */
}

